<div class="row">
    <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
        <a data-toggle="tooltip" data-placement="bottom" onclick="startUpload()" data-original-title="Dodaj nowe pliki do dysku" class="btn btn-raised"><i class="fa fa-plus" aria-hidden="true"></i>Dodaj</a>
        <input type="file" multiple style="display:none" id="file" name="files" onchange="uploadFiles()" />
    </div>
    <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
        <a @*data-toggle="tooltip"*@ data-placement="bottom" data-original-title="Dodaj nowy katalog" data-toggle="modal" data-target="#modal" class="btn btn-raised"><i class="fa fa-plus" aria-hidden="true"></i>Utwórz katalog</a>
    </div>

</div>
<div id="history" class="row">
    <div class="col-md-11 col-xs-11 " id="history-items">
        <div class="history-item">
            <i onclick="backToPreviousDirectory()" class="material-icons pull-left pointer">navigate_before</i>
            <p class="link-selected" onclick="backToDirectory($(this),'@Url.Action("Index","Directory")')">@User.Identity.Name</p>
        </div>
    </div>
</div>

<div id="fields">
    @{Html.RenderAction("Index", "Directory");}
</div>

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Nowy katalog</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Nazwa katalogu</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control" id="directory-name" placeholder="Nazwa">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-new-directory-modal" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" onclick="createDirectory()">Utwórz</button>
            </div>
        </div>
    </div>
</div>

@{ Html.Partial("~/Views/Field/_FieldProperty.cshtml");}

@{Html.RenderPartial("_ContextMenu");}
<script src="@Url.Content("~/Scripts/site/navigation.js")"></script>
<script src="@Url.Content("~/Scripts/site/fileOperations.js")"></script>
<script src="@Url.Content("~/Scripts/site/contextMenuActions.js")"></script>
<script src="@Url.Content("~/Scripts/site/contextMenu.js")"></script>