@using WebDisk.Web.Models.Field;
@model FieldDescriptionViewModel

<div class="row">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
        <div class="form-group label-floating">
            @Html.LabelFor(n => n.Name)
            @Html.DisplayFor(n => n.Name)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
        <div class="form-group label-floating">
            @Html.LabelFor(n => n.CreationDate)
            @Html.DisplayFor(n => n.CreationDate)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
        <div class="form-group label-floating">
            @Html.LabelFor(n => n.LastModifiedDate)
            @Html.DisplayFor(n => n.LastModifiedDate)
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Extension))
            {
    <div class="row">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <div class="form-group label-floating">
                @Html.LabelFor(n => n.Extension)
                @Html.DisplayFor(n => n.Extension)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <div class="form-group label-floating">
                @Html.LabelFor(n => n.Name)
                @Html.DisplayFor(n => n.Name)
            </div>
        </div>
    </div>
}
@*<div class="row">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
        <div class="form-group label-floating">
            @Html.LabelFor(n => n.Attribute)
            @Html.DisplayFor(n => n.Attribute)
        </div>
    </div>
</div>*@