@using WebDisk.Web.Models.Home
@using WebDisk.Database.DatabaseModel.Types
@model FieldViewModel

@switch (Model.Type)
{
    case FieldType.File:
        <i class="material-icons pointer field md-24 @(Model.Attributes != 0?"badge":string.Empty)"
           data-field="@Model.AttributeShortcut"
           @*ondblclick="alert('test')"*@
           onclick="openField('@Model.FieldId', '@Model.Type',$(this))">
            @(Model.Extension == "pdf" ? "picture_as_pdf" : "description")
        </i>
        <p>@Model.Name</p>
        break;
    case FieldType.Directory:
        <i class="material-icons pointer field md-24 @(Model.Attributes != 0?"badge":string.Empty)"
           data-field="@Model.AttributeShortcut"
           @*ondblclick="alert('test')"*@
           onclick="openField('@Model.FieldId', '@Model.Type',$(this))">
            folder
        </i>
        <p>@Model.Name</p>
        break;
    default:
        <i class="material-icons pointer">build</i>
        break;
}
